@model List<HalloDoc.DataAccessLayer.DataModels.Request>


@{
    Layout = "_AdminHeader";
}

        <main>

            <div class="main-viewdocuments d-flex flex-column">
                <div class="view-documents d-flex flex-column  container">
                    <div class="d-flex flex-row justify-content-between m-3">
                        <h3>Patient Record</h3>
                        <a class="btn back-btn mt-1" role="button" asp-controller="Admin" asp-action="patientHistory"> < Back</a>
                    </div>
                    



                    <div class="data-table-admin-viewuploads">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col"> First Name</th>
                                    <th scope="col">Created Date</th>
                                    <th scope="col">Confirmation Number</th>
                                    <th scope="col">Provider Name</th>
                                    <th scope="col">Concluded Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Final Report</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ConfirmationNumber)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhysicianId)

                                            </td>
                                            <td>
                                              12/04/2024

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)

                                            </td>
                                            <td>
                                                <a class="providermenu-btn p-1" role="button" href="@Url.Action("", "Admin", new {  RequestId = @item.RequestId})">View</a>

                                            </td>
                                            <td>
                                        <a role="button" class="back-btn p-1 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </a>
                                        <ul class="dropdown-menu">
                                            
                                            <li><a class="dropdown-item" href="@Url.Action("adminViewCase", "Admin", new { requestId = @item.RequestId})">View Case</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("adminViewUploads", "Admin", new { requestId = @item.RequestId})">Documents</a></li>
                                           
                                        </ul>
                                               

                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>












                </div>
            </div>
        </main>


    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>
