@model List<HalloDoc.DataAccessLayer.DataModels.ViewModels.userAccessModel>


@{
    Layout = "_AdminHeader";
}

<main>

    <div class="main-viewdocuments d-flex flex-column">
        <div class="view-documents d-flex flex-column  container">
            <div class="d-flex flex-row">
                <h3>User Access</h3>

            </div>
            <form action="/Admin/userAccess" method="POST">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-3 gy-3">
                        <select name="region" class="form-select mb-3 region" aria-label="Default select example">
                            <option selected>Select Region</option>


                        </select>
                    </div>


                </div>
                <div class="d-flex justify-content-end m-2">
                    <a role="button" class="btn back-btn me-2">Clear</a>
                    <button role="button" type="submit" class="btn submit-btn-create-patient">Search</button>
                </div>

            </form>

            <div class="data-table-admin-viewuploads">
                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col"> Account Type</th>
                            <th scope="col">AccountPOC</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Status</th>
                            <th scope="col">Open Requests</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountType)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountPOC)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)

                                    </td>
                                    <td>
                                         @Html.DisplayFor(modelItem => item.Status)

                                    </td>
                                    <td>
                                      @*   @Html.DisplayFor(modelItem => item.Reason) *@

                                    </td>
                                   
                                    <td>
                                        @if(item.AccountType == "Admin")
                                        {
                                            <a class="providermenu-btn p-1" role="button" href="@Url.Action("adminEditAccount", "Admin", new { email = @item.email})">Edit</a>
                                        }
                                        @if(item.AccountType == "Physician")
                                        {
                                            <a class="providermenu-btn p-1" role="button" href="@Url.Action("editPhysicianAccount", "Admin", new { physicianId = @item.Id})">Edit</a>
                                        }

                                    </td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>












        </div>
    </div>
</main>



<!--For Delete-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteConfirmationForm" asp-controller="Admin" asp-action="adminDeletePartner" method="POST">

                <!-- Modal Header -->
                <div class="modal-header" style="background:#01bce9; color:white;">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="color:grey;">


                    <input type="hidden" id="roleinput1" name="VendorId" />
                    <b> Are you sure you want to delete this Vendor from list?</b>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn submit-btn-cancelcase">Confirm</button>
                    <button type="button" class="btn cancel-btn-cancelcase" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Admin/getAllRegions',
            type: 'GET',
            success: function (data) {

                var regionDropdown = $('.region');
                regionDropdown.empty();
                regionDropdown.append($('<option></option>').text("Select Region"));
                $.each(data, function (index, RegionId) {
                    regionDropdown.append($('<option></option>').attr('value', RegionId.regionId).text(RegionId.name));
                });
            }
        });
    });
</script>

