@model HalloDoc.DataAccessLayer.DataModels.ViewModels.dashboardTableModel

<script src="/js/admin.js"></script>
<script src="/js/pagination.js"></script>
<script>
    function changePage(page) {
      
      
            $.ajax({
                url: "/Admin/adminTableData",
                method: "POST",
                data: { "type": type, "regionId": regionId, "patient_name": patient_name, "typeid": typeid, 'pagesize': 3, 'pagenumber': page },

                success: function (data) {
                    $('#tableContainer').html(data);
                },
                error: function () {

                }
            });
    }
    $(document).ready(function () {
        var requestId = null;
        var phyId = null;
        var admin_email = null;
        $(document).on('click', '#cancel-option', function () {

            requestId = $(this).attr("value");


            $.ajax({
                url: '/Admin/adminCancelNote',
                type: 'GET',
                data: { requestId: requestId },
                success: function (data) {

                    $("#patientName").text("Patient Name: " + data);

                }
            });


        });
        $(document).on('click', '#assign-option', function () {

            requestId = $(this).attr("value");

        });
        $(document).on('click', '#chat-option', function () {
            alert("sdfs");
            phyId = $(this).attr("value");
            admin_email = "@ViewBag.Data";
            alert(admin_email);
            $('#phyId').val(phyId);
            $('#senderId').val(admin_email);

        });
        $(document).on('click', '#block-option', function () {
            requestId = $(this).attr("value");

            $.ajax({
                url: '/Admin/adminBlockNote',
                type: 'GET',
                data: { requestId: requestId },
                success: function (data) {

                    $("#patientName1").text("Patient Name: " + data);

                }
            });
        });

        $(document).on('click', '#cancel-option1', function () {
            requestId = $(this).attr("value");
            $.ajax({
                url: '/Admin/adminCancelNote',
                type: 'GET',
                data: { requestId: requestId },
                success: function (data) {

                    $("#patientName").text("Patient Name: " + data);

                }
            });
        });

        $(document).on('click', '#block-option1', function () {
            requestId = $(this).attr("value");

            $.ajax({
                url: '/Admin/adminBlockNote',
                type: 'GET',
                data: { requestId: requestId },
                success: function (data) {

                    $("#patientName1").text("Patient Name: " + data);

                }
            });
        });

        $(document).on('click', '#assign-option1', function () {
            requestId = $(this).attr("value");
        });
        $('#cancelCaseForm').submit(function (event) {

            $('#requestIdInput').val(requestId);


        });
        $('#assignCaseForm').submit(function (event) {

            $('#requestidinput1').val(requestId);


        });
        $('#blockCaseForm').submit(function (event) {

            $('#requestIdInput2').val(requestId);


        });
    });

</script>
<script>
    $(document).ready(function () {
        $('.region').change(function () {
            var regionId = $(this).val();

            $.ajax({
                url: '/Admin/GetPhysicians',
                type: 'GET',
                data: { regionId: regionId },
                success: function (data) {

                    var physicianDropdown = $('#physician');
                    physicianDropdown.empty();
                    physicianDropdown.append($('<option></option>').text("Select Physicians"));
                    $.each(data, function (index, physician) {
                        physicianDropdown.append($('<option></option>').attr('value', physician.physicianId).text(physician.firstName));
                    });
                }
            });


        });

    });
</script>


@*Script for all cards background, icon color and request type role*@
<script>

    var cards = document.querySelectorAll('#BackgroundColormobile');

    cards.forEach(function (card) {
        var val = card.getAttribute("value");
        var rname = "";
        var iconcolor;
        switch (val) {
            case '1':
                rname = "Business";
                iconcolor = "#e63368";
                break;
            case '2':
                rname = "Patient";
                iconcolor = "#35d016";
                break;
            case '3':
                rname = "Family";
                iconcolor = "#FFD43B";
                break;
            default:

                rname = "Concierge";
                iconcolor = "#74C0FC";
        }

        var cbs = card.querySelectorAll('.card-body');
        cbs.forEach(function (cb) {
            cb.style.background = "rgba(116, 192, 252, 0.3)";
            card.querySelector('#rname').innerHTML = rname;
            card.querySelector('#circle-color').style.color = iconcolor;
        });

    });
</script>

@*Script for all inner cards background *@
<script>
    var innerCards = document.querySelectorAll('#BackgroundColormobileinnercard');

    innerCards.forEach(function (innerCard) {
        innerCard.style.background = "rgba(116, 192, 252, 0.3)";
    });
</script>



@*Script for collapse element hide and show*@
<script>
    var cards = document.querySelectorAll('.card');

    cards.forEach(function (card) {
        card.addEventListener('click', function () {
            var collapseElement = this.nextElementSibling;
            var isExpanded = collapseElement.classList.contains('show');

            if (!isExpanded) {
                collapseElement.classList.add('show');
            } else {
                collapseElement.classList.remove('show');
            }
        });
    });
</script>


@*Script for all table rows background*@
<script>

    var rows = document.querySelectorAll('#BackgroundColor');

    rows.forEach(function (row) {
        var val = row.getAttribute("value");
        var color;

        switch (val) {
            case '1':
                color = "rgba(230, 51, 104, 0.5)";
                break;
            case '2':
                color = "rgba(53, 208, 22, 0.5)";
                break;
            case '3':
                color = "rgba(255, 212, 59, 0.5)";
                break;
            default:
                color = "rgba(116, 192, 252, 0.5)";
        }

        var tds = row.querySelectorAll('td');
        tds.forEach(function (td) {
            td.style.background = color;
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.13/signalr.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
@* <script src="~/js/chat.js"></script> *@


<div class="modal" id="providerModal">
    <div class="modal-dialog modal-dialog-scrollable modal-lg d-flex flex-column justify-content-between" style="width: 20%; height: 100vh; position: fixed; top:0; right: 0; bottom: 0; margin: 0;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background:#01bce9; color:white;">
                <h4 class="modal-title">Test</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height: 100vh;">

                <input type="hidden" id="phyId"  name="phyId" />
                <input type="hidden" id="senderId" name="senderId"/>
              
               
                <ul id="messagesList"></ul>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer d-flex flex-row justify-content-between">
                <input type="text" class="p-2 border-light-subtle w-75" style="outline: none; border-radius: 5px;" placeholder="Type your message" id="messageInput" />
                <button type="button" class="btn btn-info " id="sendButton"><i class="fa-regular fa-paper-plane" style="color: #ffffff;"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="admin-table m-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Requestor</th>
                <th scope="col">Requested Date</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Chat With</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {

                foreach (var item in Model.result)
                {
                    <tr id="BackgroundColor" value="@item.RequestTypeId">
                        <td>
                            @Html.DisplayFor(modelItem => item.patientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.patientDOB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.requestorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.requestedDate)
                        </td>
                        <td>
                            Patient:
                            @Html.DisplayFor(modelItem => item.patientContact)
                            Requestor:
                            @Html.DisplayFor(modelItem => item.requestorContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.patientAddress)
                        </td>
                        <td>
                            - 
                        </td>
                        @* <td><a class="table-btn p-1" role="button" asp-controller="Admin" asp-action="chat">Provider</a></td> *@
                          <td> <a class="table-btn p-1" id="chat-option" role="button"  data-bs-toggle="modal" data-bs-target="#providerModal" value="@item.PhysicianId">Provider</a></td> 
                                             
                        <td>
                            <div class="dropdown">
                                <a role="button" class="table-btn p-1 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" id="assign-option" role="button" data-bs-toggle="modal" data-bs-target="#myModalAssign" value="@item.requestId">Assign Case</a></li>
                                    <li><a class="dropdown-item" id="cancel-option" role="button" data-bs-toggle="modal" data-bs-target="#myModal" value="@item.requestId">Cancel Case</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("adminViewCase", "Admin", new { requestId = @item.requestId , state = 1})">View Case</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("adminViewNotes", "Admin", new { requestId = @item.requestId})">View Notes</a></li>
                                    <li><a class="dropdown-item" id="block-option" role="button" data-bs-toggle="modal" data-bs-target="#myModalBlock" value="@item.requestId">Block Patient</a></li>
                                </ul>
                            </div>

                        </td>



                    </tr>

                }
            }
        </tbody>
    </table>

   
</div>


@*This code is for Mobile View*@


<div class="adminmobileview">

    @if (Model != null)
    {

        foreach (var item in Model.result)
        {
            <div class="card" role="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="BackgroundColormobile" value="@item.RequestTypeId">
                <div class="card-body d-flex flex-column justify-content-around">
                    <div class=" d-flex flex-row justify-content-between">
                        <p>@item.patientName</p>
                        <p class="ms-auto" id="rname"></p><i class="fa-solid fa-circle ms-1 mt-1" id="circle-color"></i>
                    </div>

                    <div class=" d-flex flex-row justify-content-between">
                        <p>@item.patientAddress</p>
                        <a class="admin-map-btn p-1" role="button">Map Location</a>
                    </div>

                    <p>Wait Time: <b>@item.requestedDate</b></p>
                </div>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body" id="BackgroundColormobileinnercard" value="@item.RequestTypeId">
                    <a role="button" class="card-title-legend ms-auto" style="text-decoration:none; color: purple" href="@Url.Action("adminViewCase", "Admin", new { requestId = @item.requestId , state = 1})">
                        View Case
                    </a>
                    <p> <i class="fa-solid fa-calendar-days p-2 me-1" style="color: #a0a0a2;"></i>Date of birth: @item.patientDOB</p>
                    <p> <i class="fa-regular fa-envelope p-2 me-1" style="color: #a0a0a2;"></i>Email: @item.patientEmail</p>
                    <p> <i class="fa-solid fa-phone  p-2 me-1" style="color: #a0a0a2;"></i>Patient: @item.patientContact</p>
                    <p> <i class="fa-regular fa-user p-2 me-1" style="color: #a0a0a2;"></i>Requestor: @item.requestorName</p>
                    <div class=" d-flex flex-row ">

                        <a class="admin-mob-button  p-2 m-1" id="assign-option1" role="button" data-bs-toggle="modal" data-bs-target="#myModalAssign" value="@item.requestId">
                            Assign Case
                        </a>
                        <a class="admin-mob-button p-2 m-1" id="cancel-option1" role="button" data-bs-toggle="modal" data-bs-target="#myModal" value="@item.requestId">
                            Cancel Case
                        </a>
                    </div>

                    <div class=" d-flex flex-row ">

                        <a class="admin-mob-button p-2 m-1" id="view-admin-mob-button" role="button" href="@Url.Action("adminViewNotes", "Admin", new { requestId = @item.requestId})">
                            View Notes
                        </a>
                        <a class="admin-mob-button p-2 m-1" id="block-option1" role="button" data-bs-toggle="modal" data-bs-target="#myModalBlock" value="@item.requestId">
                            Block Patient
                        </a>
                    </div>
                    <a class="admin-mob-button p-2 m-1" id="email-admin-mob-button" role="button">
                        Email
                    </a>
                    <div class=" d-flex flex-row justify-content-end">
                        <p class="m-1 p-1">Chat with:</p>
                        <a class="admin-mob-btn p-1 m-1" role="button"> <i class="fa-regular fa-user p-2 me-2" style="color: #01BCE9; border:none">Patient</i></a>
                        <a class="admin-mob-btn p-1 m-1" role="button"> <i class="fa-solid fa-user-nurse  p-2 me-1" style="color: #01BCE9;  border:none">Provider</i></a>
                    </div>

                </div>
            </div>

        }
    }

</div>



<div aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
        @if (Model.TotalPages >= 1)
        {
            <!-- Previous page -->
            <li class="page-item @(Model.PreviousPage ? " " : "disabled")">
                <a class="page-link" href="javascript:void(0)" onclick="changePage(@Model.CurrentPage-1)" aria-label="Previous">
                    <span aria-hidden="true"><i class="bi bi-caret-left-fill text-info"></i> </span>
                </a>
            </li>

            <!-- Page numbers -->
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : " ")">
                    <a class="page-link" id="plink-@i" href="javascript:void(0)" onclick="changePage(@i)">@i</a>
                </li>
            }

            <!-- Next page -->
            <li class="page-item @(Model.NextPage ? " " : "disabled")">
                <a class="page-link" href="javascript:void(0)" onclick="changePage(@Model.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true"> <i class="bi bi-caret-right-fill text-info"></i> </span>
                </a>
            </li>
        }
    </ul>
</div>

<!--For Cancel Case-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="cancelCaseForm" action="/Admin/adminCancelNote" method="POST">
                <!-- Modal Header -->
                <div class="modal-header" style="background:#01bce9; color:white;">
                    <h4 class="modal-title">Confirm Cancellation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                @{
                    var addedCaseTagIds = new List<int>();
                }
                <!-- Modal body -->
                <div class="modal-body" style="color:grey;">

                    <p id="patientName" class="m-3">Patient Name: </p>


                    <input type="hidden" id="requestIdInput" name="requestId" />
                    <select name="reason" id="reason" class="form-select m-2" aria-label="Default select example">
                        <option selected>Reason for Cancellation</option>
                        @foreach (var item in Model.result)
                        {
                            @if (item.CaseTag != null)
                            {

                                @foreach (var cs in item.CaseTag)
                                {
                                    if (!addedCaseTagIds.Contains(cs.CaseTagId))
                                    {
                                        addedCaseTagIds.Add(cs.CaseTagId);
                                        <option value="@cs.CaseTagId">@cs.Name</option>
                                    }
                                }
                            }
                        }
                    </select>
                    <span id="case"></span>
                    <div class="form-floating m-2">
                        <textarea name="additionalNotes" class="form-control symptoms-create-patient additionalnote shadow-none" placeholder="" id="floatingTextarea" style="height: 100px"></textarea>
                        <label class="symptoms-create-patient-text" for="floatingTextarea">Provide Additional Notes</label>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn submit-btn-cancelcase">Confirm</button>
                    <button type="button" class="btn cancel-btn-cancelcase" data-bs-dismiss="modal">Cancel</button>
                </div>

                <script>
                    $('.submit-btn-cancelcase').click(function (e) {
                        const reason = $('#reason').val();
                      
                        if (reason == "Reason for Cancellation") {
                            $("#case").append("Enter Reason First!!").css("color", "red");
                            e.preventDefault();
                        }                      
                      
                    });


                </script>
            </form>
        </div>
    </div>
</div>


<!--For Assign Case-->
<div class="modal" id="myModalAssign">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="assignCaseForm" action="/Admin/adminAssignNote" method="POST">
                <!-- Modal Header -->
                <div class="modal-header" style="background:#01bce9; color:white;">
                    <h4 class="modal-title">Assign Request</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                @{
                    var addedRegion = new List<int>();
                    var addedPhysician = new List<int>();
                }
                <!-- Modal body -->
                <div class="modal-body" style="color:grey;">
                    <p class="m-3">To assign this request, search and select another Physician.</p>

                    <input type="hidden" id="requestidinput1" name="requestid" />


                    <!-- For Region -->
                    <select name="region" id="region" class="form-select m-2 region" aria-label="Default select example">
                        <option selected>Select Region</option>

                        @foreach (var item in Model.result)
                        {
                            @if (item.Region != null)
                            {
                                @foreach (var r in item.Region)
                                {
                                    if (!addedRegion.Contains(r.RegionId))
                                    {
                                        addedRegion.Add(r.RegionId);
                                        <option value="@r.RegionId">@r.Name</option>
                                    }
                                }
                            }
                        }
                    </select>
                    
                    <span id="regionValidation"></span>
                    <!-- For Physician-->
                    <select name="physician" id="physician" class="form-select m-2 physician" aria-label="Default select example">
                        <option selected>Select Physician</option>


                    </select>
                    <span id="physicianValidation"></span>
                    <div class="form-floating m-2">
                        <textarea name="additionalNotesAssign" class="form-control symptoms-create-patient additionalnote shadow-none" placeholder="" id="floatingTextarea" style="height: 100px"></textarea>
                        <label class="symptoms-create-patient-text" for="floatingTextarea">Description</label>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit"  id="submit-btn-assigncase" class="btn submit-btn-assigncase">Submit</button>
                    <button type="button"  class="btn cancel-btn-cancelcase" data-bs-dismiss="modal">Cancel</button>
                </div>

                <script>
                    $('#submit-btn-assigncase').click(function (e) {


                        var physician = $('.physician').val();
                        var region = $('.region').val();

                        if (region == "" || region == "Select Region") {
                            $('#regionValidation').text("Required field!").css("color", "red");
                            e.preventDefault();
                        }
                        if (physician == "" || physician == "Select Physicians") {
                            $('#physicianValidation').text("Required field!").css("color", "red");
                            e.preventDefault();
                        }


                    });
                </script>
            </form>
        </div>
    </div>
</div>






<!--For Block Case-->
<div class="modal" id="myModalBlock">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="blockCaseForm" action="/Admin/adminBlockNote" method="POST">
                <!-- Modal Header -->
                <div class="modal-header" style="background:#01bce9; color:white;">
                    <h4 class="modal-title">Confirm Block</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="color:grey;">
                    <p id="patientName1" class="m-3">Patient Name: </p>

                    <input type="hidden" id="requestIdInput2" name="requestId" />


                    <div class="form-floating m-2">
                        <textarea name="additionalNotesBlock" class="form-control symptoms-create-patient additionalnote shadow-none" placeholder="" id="floatingTextarea" style="height: 100px"></textarea>
                        <label class="symptoms-create-patient-text" for="floatingTextarea">Reason for Block Request</label>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn submit-btn-blockcase">Confirm</button>
                    <button type="button" class="btn cancel-btn-cancelcase" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

