@model HalloDoc.DataAccessLayer.DataModels.ViewModels.TimesheetModel
@{
   

    DateTime date = DateTime.Now;
}

<div class="row">
    <div class="col">
        <h3> Pending Bi-weekly timesheet</h3>
    </div>
</div>
<div class=" row p-3 ">
    <div class=" col form-floating table-responsive mb-3">
        <table class="table ">

            <thead>
                <tr class="table-secondary">
                    <td>StartDate</td>
                    <td>EndDate</td>
                    <td>Status</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>@Model.Startdate</td>
                    <td>@Model.Enddate</td>
                    <td>Pending</td>
                    <td>
                       @*  <a class="btn btn-outline-info " type="button" asp-controller="Admin" asp-action="adminApproveTimesheet" asp-route-StartDate="@Model.Startdate" asp-route-endDate="@Model.Enddate" asp-route-phyId="@Model.PhysicianId">Approve</a> *@
                        <form method="post" action="/Admin/adminApproveTimesheet">
                            <input type="hidden" name="StartDate" value="@Model.Startdate" />
                            <input type="hidden" name="EndDate" value="@Model.Enddate" />
                            <input type="hidden" name="PhyId" value="@Model.PhysicianId" />
                            <button class="btn btn-outline-info" type="submit">Approve</button>
                        </form>

                    </td>

                </tr>


            </tbody>
        </table>
    </div>
</div>
